[Unit]
Description=Dependency-Track Scanner
Requires=egress.network
After=egress.network

[Container]
ContainerName=dtrack-agent
Image=localhost/dtrack-agent:latest

# Egress network
Network=egress-network

EnvironmentFile=%h/configuration/secrets/dtrack.env

Volume=/run/user/%U/podman/podman.sock:/run/podman/podman.sock:rw

Environment=PODMAN_HOST=unix:///run/podman/podman.sock
Environment=SYFT_CHECK_FOR_APP_UPDATE=false

[Install]
WantedBy=default.target
