[Unit]
Description=OpenSearch Log Collector
Requires=egress.network
After=egress.network

[Container]
ContainerName=opensearch-agent
Image=localhost/opensearch-agent:latest

# Egress network
Network=egress-network

EnvironmentFile=%h/configuration/secrets/opensearch.env

Volume=/run/user/%U/podman/podman.sock:/run/podman/podman.sock:rw

Environment=PODMAN_HOST=unix:///run/podman/podman.sock

[Install]
WantedBy=default.target
